.container
  -# エラーがある場合、メッセージを表示
  -if @profile.errors.any?
    %ul
      - @profile.errors.full_messages.each do |message|
        %li= message
  .form-title プロフィールの編集
  .form-container
    = form_with(model: @profile, url: profile_path, method: 'patch', local: true) do |f|
      .form-group
        .label
          = f.label :avatar, 'プロフィール画像'
        %div
          = f.file_field :avatar, class: 'file'
      .form-group
        .label
          = f.label :nickname do
            ニックネーム
            %span.required *
        %div
          = f.text_field :nickname, class: 'text-field'
      .form-group
        .label
          = f.label :gender do
            性別
            %span.required *
        %div.select-container
          = f.select :gender, Profile.genders.keys.map { |k| [I18n.t("enums.profile.gender.#{k}"), k]}, {}, { class: 'select-field' }
      .form-group
        .label
          = f.label :birth_date do
            生年月日
            %span.required *
        %div
          = f.date_field :birth_date, class: 'date-field'
      .form-group
        .label
          = f.label :part do
            担当パート
            %span.required *
        %div.select-container
          = f.select :part, Profile.parts.keys.map { |k| [I18n.t("enums.profile.part.#{k}"), k]}, {}, { class: 'select-field' }
      .form-group
        .label
          = f.label :experience_year, '担当歴'
        %div.select-container
          = f.select :experience_year, (1..60).to_a, { include_blank: "" }, class: 'select-field'
          %span.select-span 年
          = f.select :experience_month, (1..11).to_a, { include_blank: "" },  class: 'select-field'
          %span.select-span ヶ月
      %fieldset.fieldset
        %legend 活動地域
        %div.check-boxes-container
          = f.collection_check_boxes :activity_area_ids, ActivityArea.all, :id, :name do |b|
            .check-box-group
              = b.check_box
              = b.label
      %fieldset.fieldset
        %legend 活動ジャンル
        %div.check-boxes-container
          = f.collection_check_boxes :activity_genre_ids, ActivityGenre.all, :id, :name do |b|
            .check-box-group
              = b.check_box
              = b.label
      .form-group
        .label
          = f.label :activity_style, '活動志向'
        %div.select-container
          = f.select :activity_style, Profile.activity_styles.keys.map { |k| [I18n.t("enums.profile.activity_style.#{k}"), k]}, { include_blank: "" }, { class: 'select-field' }
      .form-group
        .label
          = f.label :practice_style, '練習スタイル'
        %div.select-container
          = f.select :practice_style, Profile.practice_styles.keys.map { |k| [I18n.t("enums.profile.practice_style.#{k}"), k]}, { include_blank: "" }, { class: 'select-field' }
      .form-group
        .label
          = f.label :music_type, '楽曲タイプ'
        %div.select-container
          = f.select :music_type, Profile.music_types.keys.map { |k| [I18n.t("enums.profile.music_type.#{k}"), k]}, { include_blank: "" }, { class: 'select-field' }
      .form-group
        .label
          = f.label :wants_live_performance, 'ライブ出演希望'
        %div.select-container
          = f.select :wants_live_performance, [['有', true], ['無', false]] , { include_blank: "" }, { class: 'select-field' }
      %fieldset.fieldset
        %legend 性格タグ
        %div.check-boxes-container
          = f.collection_check_boxes :personality_ids, Personality.all, :id, :name do |b|
            .check-box-group
              = b.check_box
              = b.label
      %fieldset.fieldset
        %legend 好きなバンドタグ
        %div.check-boxes-container
          = f.collection_check_boxes :favorite_band_ids, FavoriteBand.all, :id, :name do |b|
            .check-box-group
              = b.check_box
              = b.label
      .form-group
        .label
          = f.label :sns_links, 'SNSリンク'
        %div
          = f.text_field :sns_links, class: 'text-field'
      .form-group
        .label
          = f.label :bio, '自己紹介'
        %div
          = f.text_field :bio, class: 'text-field'
      .btn-container
        = f.submit '保存', class: 'btn-secondary'
