.container
  .form-title プロフィール
  .form-container
    .profile-main-info
      .profile-icon
        -# avatar_imageメソッドの呼び出し
        = image_tag @profile.avatar_image, class: 'profile-icon-img'
      .profile-main-top
        .profile-main-details= "#{@profile.nickname} (#{t("ui.parts.short.#{@profile.part}")})"
      .profile-main-bottom
        .profile-main-details= "#{@profile.calculate_age}歳 / #{t("enums.profile.gender.#{@profile.gender}")}"
    .profile-section
      .display-title 活動情報
      .display-group
        .display-group-title 担当パート
        .display-group-wrapper
          .display-group-content= t("enums.profile.part.#{@profile.part}")
      - if @profile.experience_text.present?
        .display-group
          .display-group-title 経験年数
          .display-group-wrapper
            .display-group-content= @profile.experience_text
      - if @profile.activity_areas.present?
        .display-group
          .display-group-title 活動地域
          %ul.display-group-wrapper
            - @profile.activity_areas.each do |activity_area|
              %li.display-group-content= activity_area.name
      - if @profile.activity_genres.present?
        .display-group
          .display-group-title 活動ジャンル
          %ul.display-group-wrapper
            - @profile.activity_genres.each do |activity_genre|
              %li.display-group-content= activity_genre.name
      - if @profile.activity_style.present?
        .display-group
          .display-group-title 活動志向
          .display-group-wrapper
            .display-group-content= t("enums.profile.activity_style.#{@profile.activity_style}")
      - if @profile.music_type.present?
        .display-group
          .display-group-title 楽曲タイプ
          .display-group-wrapper
            .display-group-content= t("enums.profile.music_type.#{@profile.music_type}")
      - if @profile.practice_style.present?
        .display-group
          .display-group-title 練習スタイル
          .display-group-wrapper
            .display-group-content= t("enums.profile.practice_style.#{@profile.practice_style}")
      - unless @profile.wants_live_performance.nil?
        .display-group
          .display-group-title ライブ出演希望
          .display-group-wrapper
            .display-group-content= t("ui.boolean.#{@profile.wants_live_performance}")
    .profile-section
      .display-title マイタグ
      - if @profile.personalities.present?
        .display-group
          .display-group-title 性格タグ
          %ul.display-group-wrapper
            - @profile.personalities.each do |personality|
              %li.display-group-content= personality.name
      - if @profile.favorite_bands.present?
        .display-group
          .display-group-title 好きなバンドタグ
          %ul.display-group-wrapper
            - @profile.favorite_bands.each do |favorite_band|
              %li.display-group-content= favorite_band.name
    .profile-section
      .display-title SNSリンク
      .display-text= simple_format(@profile.sns_links)
    .profile-section
      .display-title 自己紹介
      .display-text= simple_format(@profile.bio)
    -# プロフィール編集画面へのリンク
    .display-edit-btn
      = link_to "編集", edit_profile_path, class: "btn-secondary"
