.container
  %h2.devise-h2
  %div.devise-container
      Edit #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email, class: 'text'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text-input'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password, class: 'text'
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'text-input'
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum
      .field
        = f.label :password_confirmation, class: 'text'
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'text-input'
      .field
        = f.label :current_password, class: 'text'
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class: 'text-input'
      .actions
        = f.submit "Update", class: 'devise-btn'
    %h3 Cancel my account
    %div
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back
