.container
  -# エラーがある場合、メッセージを表示
  -if @band_recruitment.errors.any?
    %ul
      - @band_recruitment.errors.full_messages.each do |message|
        %li= message
  .recruitment-card.detail
    .recruitment-card-top
      .card-status= t("enums.band_recruitment.status.#{@band_recruitment.status}")
      .card-deadline= "期限：#{@band_recruitment.deadline}"
    .recruitment-card-middle
      .card-team
        .card-team-title チーム名
        - if @band_recruitment.team_name.present?
          .card-team-name= @band_recruitment.team_name
        - else
          .card-team-name 未設定
      .card-title= @band_recruitment.title
      .card-icon-container.detail
        = image_tag @band_recruitment.user.profile.avatar_image, class: 'card-icon'
        .card-icon-info
          .card-icon-info-top= "#{@band_recruitment.user.profile.nickname} (#{t("ui.parts.short.#{@band_recruitment.user.profile.part}")})"
          .card-icon-info-bottom= "#{@band_recruitment.user.profile.calculate_age}歳 / #{t("enums.profile.gender.#{@band_recruitment.user.profile.gender}")}"
    .recruitment-card-bottom
      .recruitment-section
        .display-title 募集条件
        .display-group-recruitment
          .display-group-title 募集パート
          .display-group-wrapper
            - @band_recruitment.recruitment_parts.sort_by { |rp| RecruitmentPart.parts[rp.part] }.each do |rp|
              .display-group-content= t("enums.recruitment_part.part.#{rp.part}")
              %span.card-content-count-lg= "×#{rp.max_count}"
        - if @band_recruitment.activity_areas.present?
          .display-group-recruitment
            .display-group-title 活動地域
            .display-group-wrapper
              - @band_recruitment.activity_areas.each do |activity_area|
                .display-group-content= activity_area.name
        - if @band_recruitment.activity_genres.present?
          .display-group-recruitment
            .display-group-title 活動ジャンル
            .display-group-wrapper
              - @band_recruitment.activity_genres.each do |activity_genre|
                .display-group-content= activity_genre.name
        - if @band_recruitment.activity_style.present?
          .display-group-recruitment
            .display-group-title 活動志向
            .display-group-wrapper
              .display-group-content= t("enums.band_recruitment.activity_style.#{@band_recruitment.activity_style}")
        - if @band_recruitment.music_type.present?
          .display-group-recruitment
            .display-group-title 楽曲タイプ
            .display-group-wrapper
              .display-group-content= t("enums.band_recruitment.music_type.#{@band_recruitment.music_type}")
        - if @band_recruitment.practice_frequency_unit.present? && @band_recruitment.practice_frequency_count.present?
          .display-group-recruitment
            .display-group-title 練習頻度
            .display-group-wrapper
              .display-group-content= "#{t("enums.band_recruitment.practice_frequency_unit.#{@band_recruitment.practice_frequency_unit}")}に#{@band_recruitment.practice_frequency_count}回"
        - if @band_recruitment.practice_style.present?
          .display-group-recruitment
            .display-group-title 練習スタイル
            .display-group-wrapper
              .display-group-content= t("enums.band_recruitment.practice_style.#{@band_recruitment.practice_style}")
        - unless @band_recruitment.wants_live_performance.nil?
          .display-group-recruitment
            .display-group-title ライブ出演希望
            .display-group-wrapper
              .display-group-content= t("ui.boolean.#{@band_recruitment.wants_live_performance}")
      - if @band_recruitment.comment.present?
        .recruitment-section
          .display-title 募集コメント
          .display-text= simple_format(@band_recruitment.comment)
      - if @band_recruitment.recruitment_applications.present?
        - if @band_recruitment.user == current_user
          .recruitment-section
            .display-title 応募メッセージ
            - @band_recruitment.recruitment_applications.each do |recruitment_application|
              .display-application
                .card-icon-container.application
                  = image_tag recruitment_application.user.profile.avatar_image, class: 'card-icon'
                  .card-icon-info
                    .card-icon-info-top= "#{recruitment_application.user.profile.nickname} (#{t("ui.parts.short.#{recruitment_application.user.profile.part}")})"
                    .card-icon-info-bottom= "#{recruitment_application.user.profile.calculate_age}歳 / #{t("enums.profile.gender.#{recruitment_application.user.profile.gender}")}"
                - if recruitment_application.application_comment.present?
                  .display-text.application= simple_format(recruitment_application.application_comment)
        - elsif current_user.recruitment_applications.exists?(band_recruitment: @band_recruitment)
          .recruitment-section
            .display-title 応募メッセージ
            - current_user.recruitment_applications.where(band_recruitment: @band_recruitment).each do |recruitment_application|
              .display-application
                .card-icon-container.application
                  = image_tag recruitment_application.user.profile.avatar_image, class: 'card-icon'
                  .card-icon-info
                    .card-icon-info-top= "#{recruitment_application.user.profile.nickname} (#{t("ui.parts.short.#{recruitment_application.user.profile.part}")})"
                    .card-icon-info-bottom= "#{recruitment_application.user.profile.calculate_age}歳 / #{t("enums.profile.gender.#{recruitment_application.user.profile.gender}")}"
                - if recruitment_application.application_comment.present?
                  .display-text.application= simple_format(recruitment_application.application_comment)
    -# プロフィール編集画面へのリンク
    - if @band_recruitment.user == current_user
      .display-btn
        .display-delete-btn
          = link_to "削除", band_recruitment_path(@band_recruitment), data: { turbo_method: "delete", turbo_confirm: "本当に削除してもよろしいですか？"}, class: "btn-secondary delete"
        .display-edit-btn
          = link_to "編集", edit_band_recruitment_path(@band_recruitment), class: "btn-secondary"
    -# 参加希望ボタンの表示
    - unless @band_recruitment.user == current_user
      - if current_user.recruitment_applications.exists?(band_recruitment: @band_recruitment)
        .btn-container
          .btn-secondary.applied 応募済み
      - else
        .btn-container
          .btn-secondary.js-application-btn 参加希望
        .js-application-container
          -# エラーがある場合、メッセージを表示（将来用）
          -if @application && @application.errors.any?
            %ul.error-message-container
              - @application.errors.full_messages.each do |message|
                %li.error-message= "※#{message}"
          .form-container.application
            = form_with(model: @application, url: band_recruitment_recruitment_applications_path(@band_recruitment), method: 'post', local: true) do |f|
              .form-group.application
                .label
                  = f.label :application_comment do
                    参加希望メッセージ：
                %div
                  = f.text_area :application_comment, class: 'text-area'
              .display-btn.application
                .display-cancel-btn
                  .btn-secondary.cancel.js-cancel-btn キャンセル
                .display-submit-btn
                  = f.submit '送信', class: 'btn-secondary submit'
